.head {
	color: blue;
	font-size: 46px;
	text-align: center;
}

.left_column {
	width: 55%;
	min-height: 100%;
	border: 2px solid black;
	position: relative;
	float: left;
}

.right_column {
	width: 44%;
	min-height: 100%;
	border: 2px solid black;
	position: relative;
	float: right;
}

.column {
	margin-left: 50px;
	margin-right: 50px;
}